{
    "clientProfileName" : "{{ cp.clientProfileName }}",
    "allowBridgeConnectionsEnabled" : {{ cp.allowBridgeConnectionsEnabled }},
    "allowGuaranteedMsgSendEnabled" : {{ cp.allowGuaranteedMsgSendEnabled }},
    "allowGuaranteedMsgReceiveEnabled" : {{ cp.allowGuaranteedMsgReceiveEnabled }},
    "allowGuaranteedEndpointCreateEnabled" : {{ cp.allowGuaranteedEndpointCreateEnabled }},
    "allowTransactedSessionsEnabled": {{ cp.allowTransactedSessionsEnabled }},
    "apiQueueManagementCopyFromOnCreateName" : "{{ cp.apiQueueManagementCopyFromOnCreateName }}",
    "apiTopicEndpointManagementCopyFromOnCreateName" : "{{ cp.apiTopicEndpointManagementCopyFromOnCreateName }}",
    "maxConnectionCountPerClientUsername" : {{ cp.maxConnectionCountPerClientUsername }},
    "serviceSmfMaxConnectionCountPerClientUsername" : {{ cp.serviceSmfMaxConnectionCountPerClientUsername }},
    "serviceWebMaxConnectionCountPerClientUsername" : {{ cp.serviceWebMaxConnectionCountPerClientUsername }},
    "maxEndpointCountPerClientUsername" : {{ cp.maxEndpointCountPerClientUsername }},
    "maxEgressFlowCount" : {{ cp.maxEgressFlowCount }},
    "maxIngressFlowCount" : {{ cp.maxIngressFlowCount }},
    "maxSubscriptionCount" : {{ cp.maxSubscriptionCount }},
    "maxTransactedSessionCount" : {{ cp.maxTransactedSessionCount }},
    "maxTransactionCount" : {{ cp.maxTransactionCount }}
}
