{
 "queueName": "{{ q.queueName }}",
 "permission": "{{ q.permission }}" ,
 "rejectMsgToSenderOnDiscardBehavior": "{{q.rejectMsgToSenderOnDiscardBehavior}}",
 "accessType": "{{ q.accessType }}",
 "maxMsgSpoolUsage": {{ q.maxMsgSpoolUsage }},
 "consumerAckPropagationEnabled":{{ q.consumerAckPropagationEnabled }}, 
 "maxBindCount": {{ q.maxBindCount }},
 "maxMsgSize": {{ q.maxMsgSize }},
 "ingressEnabled": {{ q.ingressEnabled }} ,
 "egressEnabled": {{ q.egressEnabled }} 
}
